.navbar{
	background-color: transparent;
	border: 0px;
}


.container-fluid, .nav, .navbar-inverse {
	background: white;
	border-radius: 0px;
	border: 0px;
	border-color: transparent;
	
}

.navbar-header  a{
	font-size: 24px;

}

.navbar-header, .navbar-toggel, .icon-bar{
	color: #FE5A1D;
}

.navbar-header  a :hover{
	font-size: 24px;
	
}

#myNavbar, .collapse, .navbar-collapse > li > a {
	font-size: 24px;
}

#myNavbar, .collapse, .navbar-collapse > li > a :active
#myNavbar, .collapse, .navbar-collapse > li > a :focus{
	color: #FE5A1D;
}

.container, .wrapper{

	max-width: 900px;
	background:white;
	border: 1px black;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
	border-radius: 4px;


}

.container, .wrapper h2{
	
	color: #FE5A1D;
	text-align: 
}

.container, .wrapper p {
	font-size: 24px;
	color: black;
	font-family: "Courier New", Courier, monospace;
}



.img-responsive,.img-circle{
	
	width: 300px;
    height: 300px;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 100%;
}

.h1{
	font-family: sans-serif;
	text-align: center;
}

.col-md-3{
	padding: 30px;
	margin: 30px;

}